# Dependency directories
vendor/
vendor-bin/
node_modules/
wordpress/
artifact/
playwright-report/
tests/e2e/play/test-results/
examples/
.qoder/

# Logs
*.log

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Optional npm cache directory
.npm
.claude

# Optional eslint cache
.eslintcache

# Other
*.zip
.DS_Store
src/utils/.DS_Store
jsconfig.json
inc/lib/astra-notices/.phpunit.result.cache
config.bat
